<% content_for :title, "Show Article" %>
<h1>Showing selected article</h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
<% if @article.categories.any? %>
<p>Categories: </p>
<ul>
<% @article.categories.each do |category| %>
<li><%= link_to category.name, category_path(category) %></li>
<% end %>
</ul>
<% end %>
<p>Created by: <%= link_to @article.user.username, user_path(@article.user) %></p>
<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
<%= link_to 'Edit this article', edit_article_path(@article) %> |
<%= link_to 'Delete this article', article_path(@article), method: :delete %> |
<% end %>
<%= link_to 'Back to articles listing', articles_path %>

