<% if @user.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user  do |f| %>
  <div class="form-group">
    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "E-mail" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-primary btn-block") %>
<% end %>