<% content_for :title, "Categories" %>
<h1>Listing All Categories</h1>
<% if logged_in? && current_user.admin? %>
<%= link_to 'New Category', new_category_path %>
<% end %>

<div class="row">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Number of articles</th>
      <th></th>
      <th></th>
    </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category) %></td>
      <td><%= pluralize(category.articles.count, 'article') %> </td>
      <% if logged_in? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-primary" %></td>
      <td><%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
      <% else %>
      <td></td>
      <td></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
<div class="text-center">
  <%= will_paginate %>
</div>