<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Shower Blog" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/navbar' %>
    <%= render '/layouts/messages' %>
    <div class="container">
      <%= yield %>
      <% if Rails.env.development? %>
      <div class="text-center">
        <%= debug(params) %>
      </div>
      <% end %>
    </div>

    <hr>
    <footer class="text-center">
        <p>&copy; <%= Time.current.year %> - Shower Blog </p>
    </footer>
  </body>
</html>
